* {
	margin: 0;
	padding: 0;
	font-family: "ComicNeue-Regular", sans-serif;
}

body{
  background-color: #f2f0e1;

}


/* HEADER LOGO MENU  */
.inicial {
	width: 100%;
	padding: 0px 0px ;
	/*order: 1;*/
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items:center;	
	background-color: #558C5A;
}

/* UL DE LOS BOTONES */

.inicial nav{
	height: 70px;
}


.inicial nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 70px;
}

.inicial nav ul > li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 5px;
    padding: 1px 1px;
}


.inicial nav .links li a{
	color: #fff;
	text-decoration: none;
	margin: 0px 0px;
	font-size: 14px;
	font-family: "ComicNeue-BoldItalic", sans-serif;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 0.3s;
	padding: 25px 15px;
}

.inicial nav .links li a:hover{
	text-decoration: none;
	color: #558C5A;
	margin: 0px 0px;
	font-size: 14px;
	font-family: "ComicNeue-BoldItalic", sans-serif;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	padding: 25px 15px;
	background-color: #f2f0e1;
}


.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 30px;
}

/*CONTENEDOR DE LA IMAGEN*/
.image-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

/*---------------------IMAGEN*/
.gallery-image {
  vertical-align: top;
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  padding: 5px 5px;
  border: 1px solid #3D5A6C;
  opacity: 0.8;
  cursor: pointer;
}

.gallery-image:hover {
    border: 1px solid #444;
    opacity: 1;
}

/* MAGIA DEL JAVASCRIPT */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  text-align: center;
  padding-top: 50px;
}

#overlay img {
  max-width: 80%;
  max-height: 80%;
  margin-bottom: 20px;
}

#close-btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}

.proceso {
	width: 100%;
	margin: 10px 0 -20px 0;
	border-top: 1px solid #CCC;
	background-color: #558C5A ;
	color: #f2f0e1;

}

.proceso h1 {
	text-align: center;
	margin-top: 30px;
}

.proceso .pasos {	
	width: 95%;
	margin: 30px auto 20px auto;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #386F3B;

}

.proceso .pasos .contenedorimg {	
	width: 20%;
	height: auto;
	margin-right: 10px;

}

.proceso .pasos .contenedorimg img {	
	border: 1px solid #386F3B;
}



.proceso .pasos .texto {
	width: 75%;
	height: fit-content;
}

.proceso .pasos .texto h2 {
	font-size: 25px;
}


.proceso .pasos .texto p {
	font-size: 20px;
}

@font-face {
	font-family:ComicNeue-Regular;
	src: url('fonts/ComicNeue-Regular.ttf');
}
@font-face {
	font-family:ComicNeue-BoldItalic;
	src: url('fonts/ComicNeue-BoldItalic.ttf');
}
@font-face {
	font-family:ComicNeue-Italic;
	src: url('fonts/ComicNeue-Italic.ttf');
}
